/* Global Styles */
* {
    font-family: 'Roboto', sans-serif;
}

#container {
    max-width: 360px;
    min-height: 480px;
    margin: 100px auto;
    background-color: #f7f7f7;
}
 
/* a stylesheet for a goal that's inputed,
this is used to avoid an event bubble */
.completed {
    color: gray;
    text-decoration: line-through;
}

h1 {
    background-color: #2d92d4;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 0 0 10px 10px;
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); */
}

/* Style for the input */

/* General input styles */
input {
    border-radius: 5px;
    border: 2px solid #2d92d4;
    height: 30px;
    text-align: center;
    color: #2d92d4;
    font-weight: 700;
}

input::placeholder {
    text-align: center;
    font-weight: 700;
}
/* Style for the goal input */
.input {
    margin: 20px;
}

.input > input {
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

/* Style for the list inputs */
ul > li > input {
    width: 75px;
    margin: 10px 0;
}

ul > li {
    list-style-type: square;
    margin-top: 10px;
}
